@layer utilities {
    /*
    ** ---------------------------------------------------------
    ** Hide Content Visually
    ** ---------------------------------------------------------
    ** This utility CSS class allow for content to be hidden from 
    ** sighted users while still allowing Assistive technologies 
    ** to discover and interact with the content.
    ** @author: Scott O'Hara
    ** @source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden#hiding-content-visually
    ** ---------------------------------------------------------
    */
    .vh:not(:focus):not(:active),
    .visually-hidden:not(:focus):not(:active) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        border: 0;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
    }
}
