# dependencies installed by npm
node_modules

# build artifacts
dist

# secrets and errors
.env
.log
.vscode
package-lock.json
public

# macOS related files
.DS_Store

# Local Netlify folder
.netlify

# Eleventy Edge Build Data files
netlify/edge-functions/_generated
